
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model Usuario.Application.ViewModel.Usuario

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Se cadastre-se</div>
        <div class="card-body">
          
            @using (Html.BeginForm("Cadastro", "Login", FormMethod.Post, new { @id = "FormCadastro", @ng_controller = "authctrl" }))
            {
                <span style="text-align: center">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>
                  @Html.AntiForgeryToken()
                  <div class="form-group">
                    @Html.Label("Nome")
                    @Html.TextBoxFor(c => c.Nome, new { @type = "text", @class = "form-control", @placeholder = "Seu Nome" })
                </div>

                <div class="form-group">
                    @Html.Label("Login")
                    @Html.TextBoxFor(c => c.Login, new { @type = "text", @class = "form-control", @placeholder = "Seu Login" })
                </div>
                <div class="form-group">
                    @Html.Label("Senha")
                    @Html.TextBoxFor(c => c.Senha, new { @type = "password", @class = "form-control", @placeholder = "Sua senha" })
                </div>
                <div class="form-group">
                    @Html.Label("Confirmar Senha")
                    @Html.TextBoxFor(c => c.ConfirmaSenha, new { @type = "password", @class = "form-control", @placeholder = "Confirmar senha" })
                </div>

                <div class="form-group">
                    @Html.Label("Email")
                    @Html.TextBoxFor(c => c.Email, new { @type = "email", @class = "form-control", @placeholder = "Sua Email" })
                </div>
                <div class="form-group">
                    @Html.Label("Confirmar Email")
                    @Html.TextBoxFor(c => c.ConfEmail, new { @type = "email", @class = "form-control", @placeholder = "Confirmação do Email" })
                </div>
                <div class="form-group">
                    @Html.Label("CPF")
                    @Html.TextBoxFor(c => c.Cpf, new { @type = "text", @class = "form-control", @placeholder = "Sua CPF" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Registra-se" class="btn-dark" />
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
