
@{
    ViewBag.Title = "Endereco";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@model Usuario.Application.ViewModel.EnderecoUsuario

<div class="container">
    <div class="card card-login mx-auto mt-5">
        
        <div class="card-body">

            @using (Html.BeginForm("Endereco", "Login", FormMethod.Post, new { @id = "FormEndereco", @ng_controller = "authctrl", @class = "form-login" }))
            {
                <span style="text-align: center">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>
                
                @Html.AntiForgeryToken()
          
                <div class="form-group">
                
                    @Html.TextBoxFor(c => c.Localidade, new { @type = "text", @class = "form-control", @placeholder = "Sua Localidade" })
                </div>

                <div class="form-group">
                 
                    @Html.TextBoxFor(c => c.Bairro, new { @type = "text", @class = "form-control", @placeholder = "Seu Bairro" })
                </div>
                <div class="form-group">
              
                    @Html.TextBoxFor(c => c.Numero, new { @type = "number", @class = "form-control", @placeholder = "Seu Numero" })
                </div>
                <div class="form-group">
                 
                    @Html.TextBoxFor(c => c.Cidade, new { @type = "text", @class = "form-control", @placeholder = "Sua Cidade" })
                </div>
                <div class="form-group">
                   
                    <select  id="uf" name="uf" class="form-control" >
                        @foreach (var s in Enum.GetValues(typeof(Biblioteca.Core.Domain.Util.Ufs)))
                        {
                            <option value="@s">@s</option>                      
                        }
                    </select></div>
                <div class="form-group">
                    <input  type="submit" id="btnbotao" class="btn btn-xg btn_verde" value="Registrar" />
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


