
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model Usuario.Application.ViewModel.Usuario

<div class="container text-center">
   

    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "FormLogin", ng_controller = "authctrl", @class = "form-login" }))
    {
        @Html.AntiForgeryToken()
        if (TempData["msgSucesso"] != null)
        { <span style="text-align: center" class="text-danger">@TempData["msgSucesso"]</span>}
    <span style="text-align: center" class="text-danger">{{MsgRetorno}}</span><br />
    <div class="form-group">
        @Html.TextBoxFor(c => c.Login, new { @type = "text", ng_model = "Login", @class = "form-control", @placeholder = "Seu Email" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(c => c.Senha, new { @type = "password", ng_model = "Senha", @class = "form-control", @placeholder = "Sua senha" })
    </div>
    <div class="form-group">
        <button type="button" id="btnbotao" class="btn btn-xg btn_verde" ng-click="ProcessarBotao('btnbotao','Aguarde a Verificação');">Acessar</button>
    </div>
}
    <div class="text-center">
        <a class="d-block small mt-3" href="@Url.Action("Cadastro","Login")">Criar sua Conta</a>
        <a class="d-block small" href="@Url.Action("RecuperarSenha","Login")">Esqueçeu sua senha?</a>
    </div>
</div>