<!DOCTYPE html>

<html ng-app="biblioteca">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/vendor")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/Scripts/angular")


</head>
<body class="bg-dark">
    <div>
        @RenderBody()
    </div>
</body>
</html>
