<!DOCTYPE html>
<html ng-app="biblioteca">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Biblioteca Universal</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


    @Styles.Render("~/Content/css/main")
    @Scripts.Render("~/Scripts/js")

    @Scripts.Render("~/Scripts/angular")


</head>
<body>
    <div class="div_global" id="js-div-global">

        <nav class="navbar navbar-default mp-navbar mp-navbar-nomargin hidden-xs hidden-sm" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <img src="@Url.Content("~/Content/img/telainicial.jpg")" style="height:60px;width:60px;position:absolute;top:10px;" />
                </div>
                <ul class="top-notifications">
                    <li>
                        <div style="margin-top:-10px;color:#ffffff;">
                            <a href="#" onclick="DeslogarSistema();">Sair</a>

                        </div>
                       
                    </li>


                </ul>
            </div>
        </nav>
        @Html.Partial("~/Views/Shared/Menu/_MenuUser.cshtml")

        <div class="content-wrapper">
            <div class="container-fluid"  style=" width:600px;position:absolute;top:120px;left:70px;">
                @RenderBody()
            </div>

        </div>
        <div>
        </div>
        
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
       
    </div>

</body>
</html>
