
@{
    ViewBag.Title = "Livro";
    Layout = null;
}
@model UsuarioBiblioteca.Application.ViewModel.Livro

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery/jquery-mask.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<div class="container text-center">

    @using (Html.BeginForm("Livro", "Biblioteca", FormMethod.Post, new { @id = "FormCadastro", @class = "form-login", @novalidate = "novalidate", @ng_controller= "biblioctrl" }))
    {
        if (ViewBag.Msg != null)
        {
            foreach (var erro in ViewBag.Msg)
            {
                <span style="text-align: center" class="text-danger">@erro</span>

            }
        }
        <span style="text-align: center">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>
        @Html.AntiForgeryToken()
        <div class="">
            @Html.Hidden("tokenlivro", new { @id= "tokenlivro" })

        </div>
        <div class="form-group">
           @Html.DropDownListFor(model => model.IdBiblioteca, new SelectList(Model.ListBiblioteca, "key", "Value"), "Selecione", new { @class = "form-control " })     
        </div>

        <div class="form-group">
            @Html.TextBoxFor(c => c.Titulo, new { @type = "text", @class = "form-control", @placeholder = "Titulo do Livro" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(c => c.Descricao, new { @type = "text", @class = "form-control", @placeholder = "Descrição" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(c => c.Editora, new { @type = "text", @class = "form-control", @placeholder = "Editora" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(c => c.QtdPg, new { @type = "text", @class = "form-control", @placeholder = "QtdPg" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(model => model.DescCategoria, new SelectList(Model._listlv, "Value", "Text"), "Selecione...", new { @class = "form-control " })
        </div>
        <div class="form-group">
            <input type="submit" value="Registra-se" class="btn btn-xg btn_verde" />
        </div>
    }
</div>



